body {
    margin: 0;
}

main {
    margin: 16px;
}

.navbar {
    display: flex;
    align-items: center;
    
    /* background: rebeccapurple; */
    background: url("https://cdn.statusqueen.com/mobilewallpaper/thumbnail/mobile_wallpaper258-748.jpg");
    color: white;
    font-family: Helvetica;
    font-weight: 300;
    box-shadow: 10px 10px 30px #9c752c;
}

.navbar__title {
    margin-right: auto;
    font-size: 150%;
    padding: 12px 16px;
   
}

.navbar__item {
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
}
.navbar__item:hover{
    color: brown;
}
.navbar__title:hover{
    color: rgb(255, 5, 5);
}